* {
  box-sizing: border-box;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: #333;
  color: #eee;
  font-family: Helvetica, Arial;
  font-size: 3vmin;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.game-title {
  border: 3px solid #44c767;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 10px;
  transition: 0.4s;
}
.game-title:hover {
  border-color: #ffffff;
  color:#44c767;
}

.hidden {
  display: none;
}


.background {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  filter: blur(8em) opacity(0.6);
  position: absolute;
}

.main-wrapper {
  padding-top: 45px;
  align-items: center;
  display: flex;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  position: relative;
  width: 80%;
  z-index: 1;
  flex-direction: column;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  overflow-x:visible;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container-input {
  display: flex;
  padding-top: 20%;
  width: 150%;
}

.btn-spotify {
  background-color: #44c767;
  border-radius: 10px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  margin: 0 10px;
  text-decoration: none;
  transition-duration: 0.4s;
}
.btn-spotify:hover {
  background-color: #ffffff;
  color: #44c767;
}

.btn-spotify-small {
  background-color: #44c767;
  border-radius: 4px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 8px 10px;
  text-decoration: none;
  transition-duration: 0.4s;
}

.btn-spotify-small:hover {
  background-color: #ffffff;
  color: #44c767;
}

.hover-text {
  transition: 0.4s;
}
.hover-text:hover {
  color: #44c767;
}

.copyright {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2px;
  margin: 0;
  font-size: x-small;
  font-family: Arial;
  color:#282c34;
  background-color: #f0f0f0;
  opacity: 0.4;
}

.now-playing__cover {
  border-radius: 8px;
  float: left;
  margin-right: 10px;
  text-align: right;
  width: 300px;
  height: 300px;
}

.top-left {
  position: absolute;
  left: 0;
  top: 10;
}

.top-center {
  position: absolute;
  top: 5;
  left: 50%;
  transform: translateX(-50%);
}

.top-right {
  position: absolute;
  right: 0;
  top: 10;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

input {
  border: none;
  border-bottom: 3px solid #44c767;
  background-color: #464545;
  color: #ffffff;
  width: 100%;
}

img {
  background: transparent;
}
